<style>
.para{
color:red;
padding-left:20px,10px,10px,20px,
}
</style>
<div class="header">

<h1>{{ section.settings.heading_text }}</h1>




</div>
<div class="para">

<p> {{ section.settings.paragraph }}</p>
</div>




{% schema %}
{
"name": "Heading",
"settings": [
    {
    "type": "text",
"id": "heading_text",
"label": "Heading"
},
{
"type": "text",
"id": "paragraph",
"label": "Write Paragraph",
"default":"Write your brand paragraph",
}
],
"blocks": [],
"presets": [
    {
    "name": "Class 1"
    }
]


}




{% endschema %}





