<style>

</style>

<div class="header">
<h1>{{ section.settings.head }}</h1>
{{section.settings.luckynum }}



</div>

{% schema %}
{
"name": "header",
"blocks": [],
"settings": [
{
"type": "text",
"id": "head",
"label": "Heading",
"default":"I LOVE PAKISTAN"



},
{
"type": "number",
"id": "luckynum",
"label": "Lucky Number"


}






],
"presets": [
{
"name": "class 1"
}
    
],



}



{% endschema %}