<style>

</style>

<div class="header">
<h1>{{ section.settings.head }}</h1>



</div>

{% schema %}
{
"name": "header",
"blocks": [],
"settings": [
{
"type": "text",
"id": "head",
"label": "Heading",
"default":"I LOVE PAKISTAN"



}







],
"presets": [
{
"name": "class 1"
}
    
],



}



{% endschema %}