<style>
.para{
color:red;
margin-top: 20px; 
margin-left:30px;
}
</style>
<div class="header">

<h1>{{ section.settings.heading_text }}</h1>




</div>
<div class="para">

<p> {{ section.settings.paragraph }}</p>
{{ section.settings.mynum }}
</div>




{% schema %}
{
"name": "Heading",
"settings": [
    {
    "type": "text",
"id": "heading_text",
"label": "Heading"
},
{
"type": "textarea",
"id": "paragraph",
"label": "Write Paragraph",
"default":"Write your brand paragraph",
},
{
"type": "number",
"id": "mynum",
"label": "My Number",
"default":786
},
{
"type": "range",
"id": "padding",
"label": "Padding",
"step": 1,
"unit": "rem",
"min": 1,
"max": 100,
"default":2

}
],
"blocks": [],
"presets": [
    {
    "name": "Class 1"
    }
]


}




{% endschema %}





